
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*{
    margin: 0;
    padding: 0;
}


/* *********navbar******** */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7vh;
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    z-index: 10;
    opacity: 0.95;
    transition: 0.4s;
  }

  .nav--hidden{
    top: -7vh;
  }
  

  
  .logo{
    color: white;
    padding: 0px 30px;
  }
  .logo a{
    text-decoration: none;
  }
  
  .logo a h3{
    color:white;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1;
  }
  span{
    color: red;
  }
  
  nav ul{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 0 40px;
  }
  nav ul li{
    list-style: none;
  }
  nav ul li a{
    text-decoration: none;   
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    border-radius:0.6rem ;
  }
  
  nav ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
  }
  

  
  .burger{
    display: none;
    padding: 0 20px;
    cursor: pointer;
  }
  
  .burger div{
    height: 2px;
    width: 25px;
    margin: 4px;
    background-color: #d7cccc;
    transition: 0.5s ease-in-out;
  }
  
  .toggle{
    position: fixed;
    top: -100vh;
    width: 100%;
    height: 60vh;
    background-color: black;
    z-index: 5; 
    transition: 0.5s;
  }
  
  .toggle ul{
    padding-top: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
  }
  
  .toggle ul li{
    list-style: none;
    margin: 25px;
  }
  
  .toggle ul li a{
    color: #d7cccc;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    display: none;
    transition-delay: 2sec;
    transition: 0.5s ;
  }
  
  
  .burger.active .line1{
    transform: rotate(-45deg) translate(-5px,6px);
  }
  .burger.active .line2{
    opacity: 0;
  }
  .burger.active .line3{
    transform: rotate(45deg) translate(-2px,-4px);
  }
  
  
  /* //Responsive */
  
  @media screen and (max-width: 1000px) and (min-width: 700px){
  
    nav ul li a{
      font-size: 12px;
    }
    
    
  
  }
  
  
  @media screen and (max-width: 700px){
    nav ul{
      display: none;
    }
  
    .burger{
      display: block;
    }
    .logo a h3 {
      color: white;
      font-size: 1.3rem;}
   
    .nav--hidden{
      top: 0vh;
    }
    .toggle.active{
      top: 0vh;
    }
    .toggle.active ul li a{
      display: block;
    }
  
  
  }
  
  /* *********navbar******** */
  

  

/* *********About Section******** */

.about{
    height:90vh;
    padding-top: 60px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #ffffff;
  }
  
  .about-info{
    margin: auto 11px;
    width: 35%;
  
  }
  
  .info{
    margin: 10px 0px;
  }
  
  .about_social{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }
  
  .about_social a{
    text-decoration: none;
    margin: 0px 10px;
    margin-bottom: 10px;
  }
  .about_social a i{
    font-size: 1.2rem;
    color: #000000;
    transition: 0.5s;
  }
  .about_social a i:hover{
    color: #000000;
    transform: scale(1.5);
  }
  
  .info h1{
    font-size: 3rem;
    color: #000000;
    font-family: 'Poppins', sans-serif;
  }
  .info h3{
    margin-top: 10px;
    font-size: 1.3rem;
    color: #000000;
  }
  .info h6{
    margin-top: 10px;
    font-size: 0.9rem;
    color: #000000;
    font-family: 'Poppins', sans-serif;
  }
  .info p{
    margin-top: 10px;
    font-size: 1.1rem;
    color: #000000;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  
  .about-image{
  padding: 0%;
  margin: 0% 0% 6% 3%;
  }

  img{
   
    width: 100%;
    height: 100%;

    
  }
  .button{
    color:white;
    background-color: red;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding: 10px;
    font-size: 15px ;
    font-weight: bold;
    border: none;
    border-radius: 10px;
  }


  /* -------- Education---------------- */
  .education{
      padding-top: 20px;
      background-color: #000000;
  }
  .edu-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .edu-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2% 0;
 
  }
  .logo1{
    flex-basis: 35%;
    text-align: center;
  }
  .logo1 img{
    width:30%;
   
  }
  .info1 h1,p {
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 2% 0;
}
.info1{
  margin: auto 10px;
  flex-basis: 35%;  
}

.head{
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight:bold ;
  font-size: 1.8rem;
  margin-bottom:10px ;
}
hr{
width:60%;
margin: 0 auto;
margin-top: 20px;
}


  /* Responsive */
  
  @media screen and (max-width: 900px) and (min-width: 500px){
    
    .about {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      padding-top: 0px;
    }
    .about-info {
      margin: 10px auto;
      width:  80%;
      text-align: center;
    }
    .about-image {
      width: 40%;
      margin: 10px auto;
    }
    .about_social {
      justify-content: center;
      margin-top: 10px;
    }
  
  
  }
  
  
  @media screen and (max-width: 500px){
  
    .about {
      height: 95vh;
      flex-direction: column;
      justify-content: center;
      padding-top: 0px;
    }
    .about-info {
      margin: 10px auto;
      width: 100%;
      text-align: center;
    }
    .about-image {
      width: 80%;
      margin: 10px auto;
    }
    .about_social {
      justify-content: center;
      margin-top: 10px;
    }
  
    .toggle ul li a{
      font-size: 15px;
    }


    .info h1{
      font-family: 'Poppins', sans-serif;
      font-size: 2rem;
      font-weight: bold;
    }
    .info h3{
      font-size: 1rem;
    }
    .info h6{
      font-family: 'Poppins', sans-serif;
      font-size: 0.7rem;
      font-weight: bold;
    }
    .info p{
      font-family: 'Poppins', sans-serif;
      font-size: 0.8rem;
      font-weight: bold;
    }

    .button{
      font-size: 0.8rem;
      margin: 10px 0;
    }
    .about_social{
      margin-top: 0;
     
    }
    .about_social a i{
     font-size: 1rem;
    }
    .head{
      font-size: 1rem;
    }

    .edu-div{
      display: flex;
      flex-direction: crow;
      margin-bottom: 15%;
    }
    .edu-1{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 2% 0;
   
    }
    .logo1{
      flex-basis: 35%;
      text-align: center;
    }
    .logo1 img{
      width:20%;
     
    }
    .info1 h1{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 2% 0;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
  }
  .info1 p{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 2% 0;
    font-size: 0.75rem;
    text-align: center;
  }
  .info1{
    margin: auto 10px;
    flex-basis: 35%;  
  }
 
  hr{
    width:70%;
    margin: 10px auto;
  } 

  .footer p{
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  .footer i{
    font-size: 0.9rem;
  }
}

  

  
  /* *********About Section******** */
  
  

.footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

.footer i{
  padding: 0px 5px;
}